* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}

/*Main area with intro about website and image*/
.main-area {
    height: 700px;
    background: #ee0979; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff6a00, #ee0979); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#text-in {
    color: white;
    font-size: 20px;
    margin-top: 170px;
}

#top-image {
    margin-top: 100px;
}

#admin-button {
    margin-left: 100px;
}

#staff-button {
    margin-left: 80px;
}